<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/layout3 :: layout(~{::title}, ~{::link}, ~{::script}, ~{::section})}">

    <title>이메일/비밀번호 찾기</title>
  
    <link th:href="@{/css/margin2.css}" rel="stylesheet}">    
  
  <section>
     <div class="container-xl m">



      <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item" role="presentation">
          <a class="nav-link active" data-bs-toggle="tab" href="#profile" aria-selected="true" role="tab">이메일 찾기</a>
        </li>
      <li class="nav-item" role="presentation">
          <a class="nav-link" data-bs-toggle="tab" href="#home" aria-selected="false" role="tab" tabindex="-1">비밀번호 찾기</a>
        </li>
      
      </ul>
  
      <div id="myTabContent" class="tab-content">
  
       
        
        <div class="tab-pane fade active show" id="profile" role="tabpanel">
        
  
           <div class="row">
  
          <div class="col p-5">
         <!--   <form id="find-email-button" method="post"> -->
            <h2 class="text-center mb-5"><strong>이메일 찾기</strong></h2>
            <div class="text-center" id="email-value"></div>
          
            <div class="form-group mt-4">
              <div class="form-floating mt-5 mb-3">
                <input type="text" class="form-control" id="find-email-name" placeholder="이름" name="name" required>
                <label for="find-email-name">이름</label>
              </div>
              <div class="form-floating">
                <input type="password" class="form-control" id="password" placeholder="비밀번호" name="password" required>
                <label for="password">비밀번호</label>
              </div>
            </div> 
    
            
            <div class="d-grid gap-2 mt-5">
              <button class="btn btn-lg btn-primary" type="button" id="find-email-button" value="email-find">찾기</button>
            </div>
         <!-- </form> -->
        </div>
      </div> 
  
  
  
  
        </div>
        
        
        
        
        
   <div class="tab-pane fade" id="home" role="tabpanel">
  
  
          <div class="row">
  
            <div class="col p-5">
            <!-- <form id="find-password-button" method="post"> -->                      
              <h2 class="text-center mb-5"><strong>비밀번호 찾기</strong></h2>
            <div class="text-center" id="password-value"></div>
            
              <div class="form-group mt-4">
                <div class="form-floating mt-5 mb-3">
                  <input type="email" class="form-control" id="email" placeholder="이메일" name="email" required>
                  <label for="email">이메일</label>
                </div>
                <div class="form-floating">
                  <input type="text" class="form-control" id="find-password-name" placeholder="이름" name="name" required>
                  <label for="find-password-name">이름</label>
                </div>
              </div> 
      
              
              <div class="d-grid gap-2 mt-5">
                <button class="btn btn-lg btn-primary" type="button" id="find-password-button" value="password-find">찾기</button>
              </div>
            <!-- </form> -->
          </div>
        </div>
        
        
        
  
        </div>
      
      </div>

  
  </div>
</section>
  <script src="/js/mate/findEmailPassword.js" defer></script>
</html>
