<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  th:replace="~{layout/layout4 :: layout(~{::title}, ~{::script}, ~{::section})}">
  
  <title>회원 상세 수정</title>
  <section class="py-5">
    <div class="container">

        <div class="page-header">
      <h2>회원 상세</h2>
    </div>
    
    <div>
      <label for="email">이메일</label> 
      <input type="text" id="email" name="email" class="form-control" value="" readonly>
    </div>
    <div>
      <label for="name">이름</label> 
      <input type="text" id="name" name="name" class="form-control" value="" readonly>
    </div>
    <div>
      <label for="password">비밀번호</label> 
      <input type="text" id="password" name="password" class="form-control" value="" readonly>
    </div>
    <div>
      <label for="password">비밀번호 확인</label> 
      <input type="text" id="passwordCheck" name="passwordCheck" class="form-control" value="" readonly>
    </div>
    <div>
      <label for="age">나이</label> 
      <input type="text" id="age" name="age" class="form-control" value="" readonly>
    </div>
    <div>
      <label for="birthdate">생년월일</label> 
      <input type="text" id="birthdate" name="birthdate" class="form-control" value="" readonly>
    </div>
   
    <div class="row mt-4">
      <div class="col">
        <button class="w-100 btn btn-primary btn-lg"
          onclick="" type="button">수정 완료</button>
      </div>
      <div class="col">
        <button class="w-100 btn btn-primary btn-lg"
          onclick="" type="button">취소</button>
      </div>
      <div class="col">
        <button class="w-100 btn btn-danger btn-lg" onclick="" type="button">탈퇴</button>
      </div>
    </div>
    </div>
    
    
  
  </section>
  <script src="/js/mate/logout.js"></script>
  <script src="/js/mate/mateDetailChange.js"></script>
</html>