<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="layout(title, links, scripts, content)">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:replace="${title}">레이아웃 타이틀 </title>
    <!-- 공통사용 link css -->
    <link rel="stylesheet" th:href="@{/css/main.css}" >
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" >
    <link rel="preconnect" th:href="@{https://fonts.googleapis.com}">
    <link rel="preconnect" th:href="@{https://fonts.gstatic.com}" crossorigin>
    <link th:href="@{https://fonts.googleapis.com/css2?family=Jua&display=swap}" rel="stylesheet">
    <link th:href="@{https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap}" rel="stylesheet">
    <link th:href="@{https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap}" rel="stylesheet">
    
        <style>
        a{
          text-decoration: none;
          color: #000;
         }
        </style>
    <!-- 추가 -->
    <th:block th:replace="${links}" />
   
   
  </head>

  <body>
    <div class="container mt-5 g-0">
      <!-- 헤더 -->
        <header class="login">
          <nav class="navbar navbar-expand-lg">
              <a class="navbar-brand align-items-md-center" href="/">
                <h1 class="main_logo">러닝메이트</h1>
              </a>
                <ul class="collapse navbar-collapse navbar-nav justify-content-end" id="navbarSupportedContent">
                  <form class="d-flex col-6 px-1">
                    <input class="form-control p-sm-1 me-sm-2" type="search" placeholder="지역으로 찾기">
                    <button class="btn btn-light" type="submit">search</button>
                  </form>
                  <div th:if="${mate == null and kakaoMate == null}">
                  <button class="nav-item btn btn-primary my-2 my-sm-0" type="button" id="login-button" onclick="location.href='/mate/login';">login</button>
                  <button class="nav-item btn btn-primary ms-1 my-2 my-sm-0" type="button" id="join-button" onclick="location.href='/mate';">join</button>
                  </div>
                  <div th:if="${mate != null}">
                  <button class="nav-item btn btn-primary my-2 my-sm-0" type="button" id="logout-button" onclick="location.href='/mate/newLogin';">logout</button>
                  <a href="/mate/mypage"><img src="https://plab-football.s3.amazonaws.com/static/img/ic_my.svg" alt="마이페이지"></a>
                  </div>
                   <div th:if="${kakaoMate != null}">
                  <button class="nav-item btn my-2 my-sm-0" type="button" id="logout-button" style="background-color:#FEE500;" onclick="location.href='/mate/newLogin';"><a class="a" href="javascript:kakaoLogout();">logout</a></button>
                  <a href="/mate/mypage"><img src="https://plab-football.s3.amazonaws.com/static/img/ic_my.svg" alt="마이페이지"></a>
                  </div>
                </ul>
          </nav>
      </header>

      <!-- 메뉴 -->
      <div class="runner_menu">
        <a href="/">러닝 매치</a>
        <a href="/listForm">공지사항</a>
        <a href="/qdlistForm">자주묻는 질문</a>
        <a href="/crew">새로운 매치</a>
      </div>

      <div th:replace="${content}">
        <p>레이아웃 컨텐츠</p>
      </div>     


      <footer>

        <div>
          <ul class="main">
            <li class="sub_li">매치
              <ul>
                <li><a href="">가벼운 산책 모임</a></li>
                <li><a href="">초보 러너 매칭</a></li>
                <li><a href="">중수 러너 매칭</a></li>
                <li><a href="">고강도 러너 매칭</a></li>
              </ul>
            </li>
            <li class="sub_li">서비스 지역
              <ul>
                <li><a href="">서울</a></li>
                <li><a href="">경기/강원</a></li>
                <li><a href="">인천</a></li>
                <li><a href="">대전/세종/충청</a></li>
              </ul>
            </li>
            <li class="sub_li">러닝메이트
              <ul>
                <li><a href="">공지사항</a></li>
                <li><a href="">자주 묻는 질문</a></li>
                <li><a href="">제휴 문의</a></li>
                <li><a href="">이용 약관</a></li>
              </ul>
            </li>
            <li class="sub_li">소셜 미디어
              <ul>
                <li><a href="">인스타그램</a></li>
                <li><a href="">페이스북</a></li>
                <li><a href="">트위터</a></li>
              </ul>
            </li>
          </ul>
          <li></li>
        </div>

      </footer>

    </div>
     <th:block th:replace="${scripts}" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
