<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:numbers="http://www.thymeleaf.org/extras/numbers"
   th:replace="~{layout/layout3 :: layout(~{::title}, ~{::link}, ~{::script}, ~{::section})}">

<head>
<meta charset="UTF-8">
<title>글 내용</title>
<link href="" rel="stylesheet">


</head>
<body>
   <section>

      <!--  공지사항  컨텐츠 폼 액션 -->
      <form action="updateAction" method="post">

         <input type="hidden" name="noticeId" th:value="${dto.noticeId}">
         <div class="container mt-1">
            <h7 class="d-flex p-2 border-bottom text-primary mb-4">공지사항</h7>
         </div>
         <!-- 공지사항 writeForm에서 작성한 제목,내용 출력  -->
         <div class="container mt-1 border-bottom">
            <h5 class="mb-4" th:text="'&nbsp;' + ${dto.noticeTitle}"></h5>
            <br>
            <pre th:text="${dto.noticeContent}"></pre>
         </div>
         <br>
         <div class="container mt-1">
            <div class="d-flex justify-content-between">
               <div class="d-grid gap-2 d-md-block btn-primar">


                  <!-- 이전 글 버튼 -->
                  <a th:href="@{/contentForm(noticeId=${prevNoticeId})}"
                     class="btn btn-outline-secondary" th:if="${prevNoticeId != null}">&lt;
                     이전글</a>
                  <button class="btn btn-outline-secondary" type="button"
                     th:if="${prevNoticeId == null}" disabled>&lt; 이전글</button>

                  <!-- 다음 글 버튼 -->
                  <a th:href="@{/contentForm(noticeId=${nextNoticeId})}"
                     class="btn btn-outline-secondary" th:if="${nextNoticeId != null}">다음글
                     &gt;</a>
                  <button class="btn btn-outline-secondary" type="button"
                     th:if="${nextNoticeId == null}" disabled>다음글 &gt;</button>
               </div>
               <br>
               <!-- 공지사항 글 수정 & 목록보기 -->
               <div>
                  <a href="listForm"><button class="btn btn-secondary"
                        type="button" value="목록보기">목록보기</button></a> <a
                     th:if="${mate != null}"
                     th:href="@{updateForm(noticeId=${dto.noticeId})}"><button
                        class="btn btn-primary" type="button">수정하기</button></a>

               </div>
            </div>
         </div>
      </form>
      <br>



      <!-- 댓글작성 폼 -->
      <form th:action="@{/writeReplyAction}" method="post">
         <input type="hidden" name="email" th:value="${session.email}">
         <input type="hidden" name="replyNoticeIndex"
            th:value="${dto.noticeId}">
         <div class="container mt-3">
            <label for="exampleTextarea" class="form-label">댓글 작성</label>
            <div class="d-flex">
               <textarea class="form-control" name="replyContent"
                  id="exampleTextarea" rows="1" required="required"></textarea>
               <button class="btn btn-primary my-2 my-sm-0" type="submit"
                  th:attr="data-is-logged-in=${mate != null}"
                  th:onclick="checkLogin(event)">작성</button>
            </div>
         </div>
      </form>


      <!--댓글작성 경고창(로그인 안하면 경고창 후 로그인 페이지로 이동)-->
      <script>
         function checkLogin(event) {
            var isLoggedIn = event.target.getAttribute('data-is-logged-in') === 'true';
            if (!isLoggedIn) {
               event.preventDefault();
               alert('로그인을 하신 후 이용해 주시기 바랍니다.');
               window.location.href = '/mate/login';
            }
         }
      </script>



      <!-- 댓글 총 갯수 -->
      <div class="container mt-3">

         <p>
            <span>댓글 </span> <span th:text="${replyCount}"
               style="color: #007bff; font-family: 'Roboto', sans-serif;">0</span>
            <span>개</span>
         </p>


      </div>


      <!-- 댓글작성 이메일, 시간, 내용 출력 -->
      <div th:if="${not #lists.isEmpty(replyList)}">
         <div class="container" th:each="reply_dto : ${replyList}">
            <hr>
            <div class="form-group">
    <label for="content" th:text="${reply_dto.email}" style="color: #007bff;"></label> ㅣ
    <span th:text="${#dates.format(reply_dto.replyDate, 'MM.dd HH:mm')}" style="color: #808080; font-size: 0.95em;"></span>
    <br>
    <br>
    <label for="content" th:text="${reply_dto.replyContent}">댓글 내용: </label>
    <a th:if="${mate != null}"
        th:href="@{/deleteReplyAction(replyId=${reply_dto.replyId}, noticeId=${dto.noticeId})}">
        <button type="submit" class="btn btn-danger btn-sm">댓글삭제</button>
    </a>
</div>

         </div>
      </div>
      <script src=""></script>
   </section>
</body>
</html>

