<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:numbers="http://www.thymeleaf.org/extras/numbers"
	th:replace="~{layout/layout3 :: layout(~{::title}, ~{::link}, ~{::script}, ~{::section})}">

<head>
<meta charset="UTF-8">
<title>게시판 목록보기</title>
<link href="" rel="stylesheet">


</head>
<body>
	<section>
		<!-- 공지사항 글 작성 액션 폼 -->
		<form action="#" th:action="@{/writeAction}" method="post">
			<div class="container mt-5 g-0">
				<h5 class="p-3 mb-2 bg-primary text-white rounded mb-4">공지 사항</h5>
				<div class="row">

					<div class="col">
						<div class="form-group">
							<h5>
								<label for="exampleSelect1" class="form-label mt-4 formtitle">작성
									권한 : 관리자 회원</label>
							</h5>
						</div>
					</div>
				</div>
				<!-- 공지사항 제목 내용 작성 -->
				<div class="form-group">
					<label for="title" class="form-label mt-4 formtitle">제목</label> <input
						type="text" name="noticeTitle" class="form-control" id="title"
						placeholder="제목을 입력하세요." th:value="${noticeTitle}"
						required="required">
				</div>
				<div class="form-group">
					<label for="contents" class="form-label mt-4 formtitle">내용</label>
					<textarea type="text" name="noticeContent" class="form-control"
						rows="10" id="content" placeholder="내용을 입력하세요."
						th:value="${noticeContents}" required="required"></textarea>


				</div>
				<div class="text-center">
					<button type="submit" class="btn btn-primary mt-4 cen">&nbsp&nbsp저장하기&nbsp&nbsp</button>
				</div>
			</div>
		</form>

		<div class="alert alert-danger"
			th:if="${not #strings.isEmpty(message)}"
			th:utext="'<script>alert(\'' + ${message} + '\');</script>'"></div>

		<script src=""></script>
	</section>
</body>
</html>
