<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper	namespace="com.runningmate.domain.crew.mapper.CrewMapper">                        

<!-- 등록 -->    
    <!-- 모임 등록 -->
	<insert id="createCrew" parameterType="CrewCreate">
		INSERT INTO crew(crew_id, title, crewdate, mate_count, crew_location, crew_location_dt, crewlevel, course_leng, course_intro, weather_intro, etc_intro, description)
		VALUES (crew_seq.NEXTVAL, #{title}, TO_DATE(#{crewdate}, 'YYYY-MM-DD"T"HH24:MI'), #{mateCount}, 
		#{crewLocation}, #{crewLocationDt}, #{crewLevel}, #{courseLeng}, #{courseIntro}, #{weatherIntro},
		#{etcIntro}, #{description} )
		<selectKey keyProperty="crewId" resultType="string" order="AFTER">
	    	SELECT crew_seq.CURRVAL FROM DUAL
		</selectKey>
	</insert>
	<!-- 사진 등록 -->
  	<insert id="createPhoto" parameterType="CrewCreate">
		INSERT INTO photo (photo_id, photo_name, crew_id)
		VALUES (photo_seq.NEXTVAL, #{photoName}, #{crewId})
	</insert>
	<!-- 모임 신청 -->
	<insert id="joinCrew" parameterType="CrewList">
		INSERT INTO crewlist
		VALUES (crewlist_seq.NEXTVAL, '참여', #{email}, #{crewId})
	</insert>
	
	
<!-- 조회 -->
	<!-- 특정 모임에 참석하는 회원 리스트 -->
	<select id="findByAll" parameterType="string" resultType="CrewMates">
		SELECT m.name, m.email, l.types, c.crew_id
		FROM crewlist l JOIN crew c ON l.crew_id = c.crew_id
		                JOIN mate m ON l.email = m.email
		WHERE c.crew_id = #{value}
	</select>
	<!-- 이메일로 특정 회원 조회(crew_id조회 위함) -->
	<select id="sessionMate" parameterType="string" resultType="CrewMates">
		SELECT m.name, m.email, l.types, c.crew_id
		FROM crewlist l JOIN crew c ON l.crew_id = c.crew_id
		                JOIN mate m ON l.email = m.email
		WHERE m.email = #{value}
	</select>
	<!-- crew_id통해 불러오는 모임 전체 리스트 -->
 	<select id="findById" parameterType="string" resultType="CrewCreate">
		SELECT crew_id, title, crewdate, mate_count, crew_location, crew_location_dt, crewlevel, course_leng, course_intro, weather_intro, etc_intro, description
		FROM crew
		WHERE crew_id = #{value}
	</select> 
	<!-- 등록된 모든 모임 리스트 -->
	<select id="allCrew" resultType="CrewCreate">
		SELECT crew_id, title, crewdate, mate_count, crew_location, crew_location_dt, crewlevel, course_leng, course_intro, weather_intro, etc_intro, description
		FROM crew
	</select> 
	<!-- 특정 모임 사진 리트스 -->
	<select id="getPhotos" parameterType="string" resultType="CrewPhoto">
		select photo_id, photo_name, crew_id
		from photo
		WHERE crew_id = #{value}
	</select>
	<!-- 날짜로 불러오는 모임 전체 리스트 -->
	<select id="findBydate" parameterType="string" resultType="CrewCreate">
		SELECT crew_id, title, crewdate, mate_count, crew_location, crew_location_dt, crewlevel, course_leng, course_intro, weather_intro, etc_intro, description
		FROM crew
		WHERE REPLACE(crewdate, '/', '_') LIKE '%' || #{value} || '%'
	</select>
	<!-- 지역 키워드 검색 -->
	<select id="searchByLocation" parameterType="string" resultType="CrewCreate">
		SELECT crew_id, title, crewdate, mate_count, crew_location, crew_location_dt, crewlevel, course_leng, course_intro, weather_intro, etc_intro, description
		FROM crew
		WHERE crew_location LIKE '%' || #{value} || '%'
	</select> 
	<!-- 특정기간 수준별 모임 리스트 -->
	<select id="findBydateCrews" parameterType="int" resultType="CrewCreate">
		SELECT crew_id, title, TO_CHAR(crewdate, 'HH24:SS'), mate_count, crew_location, crew_location_dt, crewlevel, course_leng, course_intro, weather_intro, etc_intro, description
		FROM crew
		WHERE TRUNC(crewdate) = TRUNC(SYSDATE + #{i})
	</select>
	<!-- 특정기간 날짜만 -->
	<select id="dates" parameterType="int" resultType="CrewCreate">
		SELECT TO_CHAR(crewdate, 'MM"월" DD"일" DAY')
		FROM crew
		WHERE TRUNC(crewdate) = TRUNC(SYSDATE + #{i})
	</select>
	
	<!-- <select id="findBydateAndLevelAll" parameterType="string" resultType="CrewCreate">
		SELECT crew_id, title, crewdate, mate_count, crew_location, crew_location_dt, crewlevel, course_leng, course_intro, weather_intro, etc_intro, description
		FROM crew
		WHERE crewdate BETWEEN TO_DATE(#{startDate}, 'MM_DD') AND TO_DATE(#{endDate}, 'MM_DD')
	</select> -->

<!-- 삭제 -->
	<delete id="leaveCrew" parameterType="string">
		DELETE FROM crewlist
		WHERE email = #{value}
	</delete>
	                        
                        
                        
                        
                        
</mapper>