<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper	namespace="com.runningmate.domain.mate.mapper.MateMapper">

<insert id="create" parameterType="Mate">
	INSERT INTO mate(email, name, password, gender,  birthdate, phone_number, location)
	VALUES (#{email}, #{name}, #{password}, #{gender}, #{birthdate}, #{phoneNumber}, #{location})
</insert>
<!-- 이메일 중복 체크 -->
<select id="findByEmail" parameterType="string" resultType="string">
	SELECT email
	FROM mate
	WHERE email = #{email}
</select>

<!-- 비밀번호 확인 -->
<select id="findByPassword" parameterType="string" resultType="string">
	SELECT password
	FROM mate
	WHERE email = #{email} AND password =#{password}
</select>

<select id="findByEmailAndPassword" parameterType="String" resultType="Mate">
	SELECT email, name, gender, TO_CHAR(birthdate, 'YYYY-MM-DD') birthdate, phone_number, location, kakaoacc_yn, mate_class, manner_temp
	FROM mate
	WHERE email = #{email} AND password =#{password}
</select>

<update id="update" parameterType="Mate">
		UPDATE mate
		<set>
		<if test="name != null">name = #{name},</if>
		<if test="password != null">password = #{password},</if>
		<if test="gender != null">gender = #{gender},</if>
		<if test="birthdate != null">birthdate = #{birthdate},</if>
		<if test="phoneNumber != null">phone_number = #{phoneNumber},</if> <!-- <if test="phoneNumber != null"> dto타입임  -->
		<if test="location != null">location = #{location}</if>
		</set>
		WHERE email = #{email}
</update>

<!--업데이트후 바로 화면에 적용하기위한-->
<select id="get" parameterType="string" resultType="Mate">
    SELECT email, name, gender, TO_CHAR(birthdate, 'YYYY-MM-DD') birthdate, phone_number, location  
    FROM mate 
    WHERE email = #{email}
  </select>
  
<!-- 회원 삭제 delete문은 int타입 1,0 반환 -->
<delete id="mateInfoDelete" parameterType="string">
	DELETE FROM mate
	WHERE email = #{email}
</delete>

<!-- 아이디 찾기 -->
<select id="findEmail" parameterType="string" resultType="string">
	SELECT email 
	FROM mate
	WHERE name = #{name} AND password = #{password}
</select>
<!-- 비밀번호 찾기 -->
<select id="findPassword" parameterType="string" resultType="string">
	SELECT password 
	FROM mate
	WHERE name = #{name} AND email = #{email}
</select>


</mapper>                        