<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper	namespace="com.runningmate.domain.mate.mapper.MateMapper">

<insert id="create" parameterType="Mate">
	INSERT INTO mate(email, name, password, gender,  birthdate, phone_number, location)
	VALUES (#{email}, #{name}, #{password}, #{gender}, #{birthdate}, #{phoneNumber}, #{location})
</insert>

<select id="findByEmail" parameterType="string" resultType="string">
	SELECT email
	FROM mate
	WHERE email = #{value}
</select>

<select id="findByEmailAndPassword" parameterType="String" resultType="Mate">
	SELECT email, name, gender, birthdate, phone_number, location 
	FROM mate
	WHERE email = #{email} AND password =#{password}
</select>

<!--  
<select id="findMateDetail" resultType="Mate">
	SELECT email, name, gender, birthdate, phone_number, location 
	FROM mate
</select>
-->

</mapper>                        