<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper	namespace="com.runningmate.domain.member.mapper.MembersMapper">

<insert id="create" parameterType="Members">
	INSERT INTO members(email, name, password, gender,  birthdate, phone_number, location)
	VALUES (#{email}, #{name}, #{password}, #{gender}, #{birthdate}, #{phoneNumber}, #{location})
</insert>

<select id="findByEmail" parameterType="string" resultType="string">
	SELECT email
	FROM members
	WHERE email = #{value}
</select>




</mapper>                        