<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
  th:replace="~{layout/layout4 :: layout(~{::title}, ~{::script} ,~{::section})}">

    <title>수준별 매칭 페이지</title>
<section>

    <div class="container mt-5 g-0">


      <!-- 이미지 -->
      <div class="image-container my-3">
        <img src="/img/1.png" alt="대표 이미지" class="img-fluid">
      </div>

      <!-- 리스트 -->
        
        <div id="runlist3_message"></div>
      


    </div>
    </section>
    <script src="/js/crew/levelMatchingAll.js"></script>
</html>
