div.join_list{
  color:white;
  border-radius: 15px;
  font-size: 20px;
}

div.join_list tbody tr{
  vertical-align: middle;
}
div.join_list th{
  font-size: 16px;
}

div.join_list td:nth-child(2){
  text-align: left;
}

div.join_list button{
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 14px;
  width:60px;
  height:35px;
}
div.join_list div.prop{
  font-size: 12px;
}

div.join_list th{
  width: 140px;
}
div.join_list td:last-child{
  width: 240px;
  text-align: center;
}