*{
  font-family: 'Noto Sans KR', sans-serif;
  box-sizing: border-box;
  list-style: none;
}

a{
  text-decoration: none;
}

div.container{
  max-width: 1100px;
  height:100%;
}

input::placeholder {
  vertical-align: baseline;
  font-size:12px;
}

header.login h1.main_logo{
  font-family: 'Jua', sans-serif;
}
header.login form{
  height:40px;
}


div.runner_menu{
  line-height:60px;
}
div.runner_menu a{
  letter-spacing: -1px;
  margin-right: 10px;
  color:black;
  font-size: 16px;
  font-weight: 500;
}
div.runner_menu a:hover{
  color:rgb(170, 170, 170);
}
div.runner_matching label{
  font-weight: 500;
}



div.day_button button{
  padding:25px 0;
}



div.run_list tbody tr{
  vertical-align: middle;
}
div.run_list th{
  width:140px;
  font-size: 16px;
}
div.run_list td:nth-child(2){
  text-align: left;
}
div.run_list td:nth-child(3){
  text-align: right;
}
div.run_list td:last-child{
  width: 240px;
  text-align: center;
}
div.run_list button{
  font-size:14px;
  font-weight: 600;
  height:35px;
  width:80px;
}
div.run_list div.prop{
  font-size: 12px;
}


footer{
  border-top:2px solid rgb(229, 229, 229);
  margin:100px 0;
  padding-top:30px;
  color:gray;
  overflow: hidden;
}
footer li.sub_li{
  font-weight: 600;
  margin-right:100px;
  float:left;
}

footer .sub_li ul{
  font-weight: 400;
  margin-top: 20px;
  padding:0;
}

footer .sub_li li a{
  color: gray;
}
footer .sub_li li a:hover{
  color:rgb(170, 170, 170);
}