.search-container {
  width: 50%;
}

.middle{
  background-color:  #007BFF;
  padding-top: 70px;
  width: 80% ;
  color: ivory;
  
}

  

.btn {
    padding: 1.2rem 0.5rem;

}

.btn-custom {
  border-color: #007BFF;
  color: #007BFF;
}
.btn-custom:hover {
  background-color: #007BFF;
  color: #007BFF;
}
.Kategorie{
  
  padding-bottom: 2%;


}

.btn-outline-black {
border-radius: 3%;
color: black;
border-color: black;
}
.btn-outline-black:hover{

background-color: #007BFF;

border-color: black;
}







.faq-button {
border-radius: 20px;
box-shadow: 0 4px 6px #007BFF;
padding-top: 1.5rem;
padding-bottom: 1.5rem;
width: 100%;
}

.faq-button:hover {
transform: translateY(-2px);
box-shadow: 0 6px 8px #007BFF;
}

