<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
        

<!-- 일자버튼 하단 모임 목록 -->
  <div class="run_list" >
    <table class="table table-hover text-center">
      <tbody>
        <tr th:each="dateCrew : ${dateCrews}">
          <th scope="row" th:text="${dateCrew.crewdate}">16:00</th>
          <td colspan="2"><span th:text="${dateCrew.title}">남산 공원</span> 
            <div class="prop">
              <span th:text="${dateCrew.crewLocation}">위치 주소</span>
            </div>
          </td>
          <td class="pe-4">
             <button type="button" class="btn btn-primary btn-sm me-3" th:onclick ="|location.href ='@{'/crew/' + ${dateCrew.crewId}}'|" style="float:right;">신청 가능</button>
          </td>
        </tr>
        
      </tbody>
    </table>
  </div>
</html>