<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/layout3 :: layout(~{::title}, ~{::link}, ~{::script}, ~{::section})}">
<title>찜한 목록 창</title>
<link href="/css/wishlist.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<section>
  <div class="container mt-5 g-0">
    <div class="list-title">찜한 목록</div>
    <div class=" run_list">
      <table class="table table-hover text-center">
        <tbody>
          <tr>
            <th scope="row">3.23(목)<br /> 16:00
            </th>
            <td colspan="2">남산 공원
              <div class="prop">
                <span>남성 전용</span> <span>남성 전용</span> <span>남성 전용</span>
              </div>
            </td>
            <td>Column content</td>
            <td><button type="button"
                class="btn btn-warning btn-sm bg-color-primary"
                style="background-color: #4582EC">찜 취소</button></td>
          </tr>
          <tr>
            <th scope="row">3.24(금)<br /> 16:00
            </th>
            <td colspan="2">석촌 호수
              <div class="prop">
                <span>남성 전용</span> <span>남성 전용</span> <span>남성 전용</span>
              </div>
            </td>
            <td>Column content</td>
            <td><button type="button"
                class="btn btn-warning btn-sm bg-color-primary"
                style="background-color: #4582EC">찜 취소</button></td>
          </tr>
          <tr>
            <th scope="row">3.25(토)<br /> 16:00
            </th>
            <td colspan="2">북악스카이웨이
              <div class="prop">
                <span>남성 전용</span> <span>남성 전용</span> <span>남성 전용</span>
              </div>
            </td>
            <td>Column content</td>
            <td><button type="button"
                class="btn btn-warning btn-sm bg-color-primary"
                style="background-color: #4582EC">찜 취소</button></td>
          </tr>
        </tbody>
      </table>
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item disabled"><a class="page-link"
            href="#" aria-label="Previous"> <span aria-hidden="true">&laquo;</span>
          </a></li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item active" aria-current="page"><a
            class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#"
            aria-label="Next"> <span aria-hidden="true">&raquo;</span>
          </a></li>
        </ul>
      </nav>

      </table>
</section>
</html>
